:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  margin-left: 10px;
  margin-right: 10px;
}
.mosaicContainer {
  border: solid;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  border: solid;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}

.mosaicSquare1 {
  width: 40vw;
  height: 20vw;

}

.mosaicSquare2 {
  width: 16vw;
  height: 20vw;
  
}

.mosaicSquare3 {
  width: 24vw;
  height: 20vw;
  
}

.mosaicSquare4 {
  width: 22.5vw;
  height: 20vw;
  
}

.mosaicSquare5 {
  width: 14vw;
  height: 20vw;

}

.mosaicSquare6 {
  width: 19vw;
  height: 20vw;
  
}

.mosaicSquare7 {
  width: 22.5vw;
  height: 20vw;
  
  
}

.mosaicSquare8 {
  width: 41vw;
  height: 20vw;
  
}
.mosaicSquare9 {
  width: 41.5vw;
  height: 20vw;

}

.mosaicSquare10 {
  width: 31vw;
  height: 20vw;
  
}

.mosaicSquare11 {
  width: 18.5vw;
  height: 20vw;
  
}

.mosaicSquare12 {
  width: 31vw;
  height: 20vw;
  
}



